In [282]:
#importing all the required python libraries 
import pandas as pd
import numpy as np
import geopandas as gpd
import matplotlib.pyplot as plt
%matplotlib inline
# from shapely.geometry import Point
# import folium
# from folium.plugins import MarkerCluster
# from folium.plugins import FastMarkerCluster

###### Importing the Airlines performance data for the month before the onset of COVID i.e. Feb20

In [283]:
#States= gpd.read_file('../data/US_States.geojson')

###### The following code will make all the out put dataframes be in a table format

In [284]:

%%HTML
<style type ="text/css">
table.dataframe td, table.dataframe th {
    border: 1px black solid  !important;
 color: black !important;
}

In [285]:
Airports=pd.read_csv('../data/All_us-airports.csv')

In [286]:
Airports.head()

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,country_name,iso_country,region_name,iso_region,local_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords,score,last_updated
0,3632,KLAX,large_airport,Los Angeles International Airport,33.942501,-118.407997,125.0,NaN,United States,US,California,US-CA,CA,Los Angeles,1,KLAX,LAX,LAX,https://www.flylax.com/,https://en.wikipedia.org/wiki/Los_Angeles_Inte...,NaN,1335475,2020-04-26T22:37:22+00:00
1,3754,KORD,large_airport,Chicago O'Hare International Airport,41.978600,-87.904800,672.0,NaN,United States,US,Illinois,US-IL,IL,Chicago,1,KORD,ORD,ORD,https://www.flychicago.com/ohare/home/pages/de...,https://en.wikipedia.org/wiki/O'Hare_Internati...,"CHI, Orchard Place",1503175,2018-09-16T02:35:35+00:00
2,3622,KJFK,large_airport,John F Kennedy International Airport,40.639801,-73.778900,13.0,NaN,United States,US,New York,US-NY,NY,New York,1,KJFK,JFK,JFK,https://www.jfkairport.com/,https://en.wikipedia.org/wiki/John_F._Kennedy_...,"Manhattan, New York City, NYC, Idlewild",1052075,2020-04-26T22:35:58+00:00
3,3384,KATL,large_airport,Hartsfield Jackson Atlanta International Airport,33.636700,-84.428101,1026.0,NaN,United States,US,Georgia,US-GA,GA,Atlanta,1,KATL,ATL,ATL,http://www.atlanta-airport.com/,https://en.wikipedia.org/wiki/Hartsfield–Jacks...,NaN,2002475,2018-09-19T14:50:01+00:00
4,3878,KSFO,large_airport,San Francisco International Airport,37.618999,-122.375000,13.0,NaN,United States,US,California,US-CA,CA,San Francisco,1,KSFO,SFO,SFO,http://www.flysfo.com/,https://en.wikipedia.org/wiki/San_Francisco_In...,"QSF, QBA",1112475,2008-06-13T14:30:04+00:00

In [287]:
# column_sort ={'id','type','latitude_deg','longitude_deg','region_name','gps_code','iata_code','local_code'} 
# Airport_state =Airports[column_sort].reset_index()
Airport_state=Airports.loc[:,['id','type','name','latitude_deg','longitude_deg','region_name','gps_code','iata_code','local_code']]

In [288]:
Airport_state.head()

,id,type,name,latitude_deg,longitude_deg,region_name,gps_code,iata_code,local_code
0,3632,large_airport,Los Angeles International Airport,33.942501,-118.407997,California,KLAX,LAX,LAX
1,3754,large_airport,Chicago O'Hare International Airport,41.978600,-87.904800,Illinois,KORD,ORD,ORD
2,3622,large_airport,John F Kennedy International Airport,40.639801,-73.778900,New York,KJFK,JFK,JFK
3,3384,large_airport,Hartsfield Jackson Atlanta International Airport,33.636700,-84.428101,Georgia,KATL,ATL,ATL
4,3878,large_airport,San Francisco International Airport,37.618999,-122.375000,California,KSFO,SFO,SFO

In [289]:
Airport_state.shape

(23945, 9)

In [290]:
Airport_state.rename(columns ={'region_name':'state','gps_code':'icao_code'},inplace = True)

In [291]:
#Airport_state_clean.head(1)
Airport_state.head()

,id,type,name,latitude_deg,longitude_deg,state,icao_code,iata_code,local_code
0,3632,large_airport,Los Angeles International Airport,33.942501,-118.407997,California,KLAX,LAX,LAX
1,3754,large_airport,Chicago O'Hare International Airport,41.978600,-87.904800,Illinois,KORD,ORD,ORD
2,3622,large_airport,John F Kennedy International Airport,40.639801,-73.778900,New York,KJFK,JFK,JFK
3,3384,large_airport,Hartsfield Jackson Atlanta International Airport,33.636700,-84.428101,Georgia,KATL,ATL,ATL
4,3878,large_airport,San Francisco International Airport,37.618999,-122.375000,California,KSFO,SFO,SFO

###### Reading all the three monthly flight performnce sample datasets ( Feb20,Aug20,Feb21)

In [292]:
OTPAug19 = pd.read_csv('../data/Airlines OTP August19 raw data.csv',low_memory=False)
OTPFeb20 =pd.read_csv('../data/Airlines OTP February20 raw data.csv',low_memory=False)
OTPAug20 =pd.read_csv('../data/Airlines OTP August20 raw data.csv',low_memory=False)
OTPFeb21 = pd.read_csv('../data/Airlines OTP February21 raw data.csv',low_memory=False)

In [293]:
# OTPFeb20.head()
# OTPAug20.head()
#OTPFeb21.head()
OTPAug19.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,Originally_Scheduled_Code_Share_Airline,DOT_ID_Originally_Scheduled_Code_Share_Airline,IATA_Code_Originally_Scheduled_Code_Share_Airline,Flight_Num_Originally_Scheduled_Code_Share_Airline,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,Origin,...,Div3AirportID,Div3AirportSeqID,Div3WheelsOn,Div3TotalGTime,Div3LongestGTime,Div3WheelsOff,Div3TailNum,Div4Airport,Div4AirportID,Div4AirportSeqID,Div4WheelsOn,Div4TotalGTime,Div4LongestGTime,Div4WheelsOff,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Duplicate
0,2019,3,8,25,7,8/25/2019,WN,WN,19393,WN,4349,NaN,NaN,NaN,NaN,WN,19393,WN,N433LV,4349,11292,1129202,30325,DEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
1,2019,3,8,25,7,8/25/2019,WN,WN,19393,WN,5510,NaN,NaN,NaN,NaN,WN,19393,WN,N288WN,5510,11292,1129202,30325,DEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
2,2019,3,8,25,7,8/25/2019,WN,WN,19393,WN,5518,NaN,NaN,NaN,NaN,WN,19393,WN,N203WN,5518,11292,1129202,30325,DEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
3,2019,3,8,25,7,8/25/2019,WN,WN,19393,WN,5639,NaN,NaN,NaN,NaN,WN,19393,WN,N8689C,5639,11292,1129202,30325,DEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4,2019,3,8,25,7,8/25/2019,WN,WN,19393,WN,4779,NaN,NaN,NaN,NaN,WN,19393,WN,N8575Z,4779,11292,1129202,30325,DEN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N

In [294]:
OTPFeb20.columns
OTPFeb20.shape

(623103, 119)

In [295]:
OTPFeb20.shape

(623103, 119)

In [296]:
OTPFeb21.describe()

,Year,QUARTER,Month,DayofMonth,DayOfWeek,DOT_ID_Marketing_Airline,Flight_Number_Marketing_Airline,SCH_OP_CARRIER_AIRLINE_ID,SCH_OP_CARRIER_FL_NUM,OP_CARRIER_AIRLINE_ID,Flight_Number_Operating_Airline,OriginAirportID,ORIGIN_AIRPORT_SEQ_ID,OriginCityMarketID,ORIGIN_STATE_FIPS,ORIGIN_WAC,DestAirportID,DEST_AIRPORT_SEQ_ID,DEST_CITY_MARKET_ID,DEST_STATE_FIPS,DEST_WAC,CRSDepTime,DepTime,DepDelay,...,DIV3_AIRPORT_SEQ_ID,DIV3_WHEELS_ON,DIV3_TOTAL_GTIME,DIV3_LONGEST_GTIME,DIV3_WHEELS_OFF,DIV3_TAIL_NUM,DIV4_AIRPORT,DIV4_AIRPORT_ID,DIV4_AIRPORT_SEQ_ID,DIV4_WHEELS_ON,DIV4_TOTAL_GTIME,DIV4_LONGEST_GTIME,DIV4_WHEELS_OFF,DIV4_TAIL_NUM,DIV5_AIRPORT,DIV5_AIRPORT_ID,DIV5_AIRPORT_SEQ_ID,DIV5_WHEELS_ON,DIV5_TOTAL_GTIME,DIV5_LONGEST_GTIME,DIV5_WHEELS_OFF,DIV5_TAIL_NUM,Unnamed: 119,Duplicate
count,350170.0,350170.0,350170.0,350170.000000,350170.000000,350170.000000,350170.000000,18.000000,18.000000,350170.000000,350170.000000,350170.000000,3.501700e+05,350170.000000,350170.000000,350170.000000,350170.000000,3.501700e+05,350170.000000,350170.000000,350170.000000,350170.000000,330183.000000,330167.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,2021.0,1.0,2.0,14.773559,4.050427,19838.189551,2886.903450,20399.611111,5493.055556,20035.269195,2886.903450,12647.718200,1.264776e+06,31749.343465,27.188728,56.154722,12647.592492,1.264763e+06,31749.334746,27.189202,56.153077,1301.798549,1303.495053,5.391787,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.0,0.0,0.0,8.046534,2.012131,258.894117,1827.881569,16.313614,311.632225,372.083254,1827.881569,1548.247214,1.548244e+05,1368.797520,16.992094,25.842310,1548.252299,1.548249e+05,1368.770416,16.992049,25.842352,444.056309,450.800435,48.707188,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,2021.0,1.0,2.0,1.000000,1.000000,19393.000000,1.000000,20378.000000,4970.000000,19393.000000,1.000000,10135.000000,1.013506e+06,30070.000000,1.000000,1.000000,10135.000000,1.013506e+06,30070.000000,1.000000,1.000000,5.000000,1.000000,-59.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,2021.0,1.0,2.0,8.000000,2.000000,19790.000000,1261.000000,20397.000000,5223.750000,19790.000000,1261.000000,11292.000000,1.129202e+06,30559.000000,12.000000,34.000000,11292.000000,1.129202e+06,30559.000000,12.000000,34.000000,926.000000,928.000000,-7.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,2021.0,1.0,2.0,15.000000,4.000000,19805.000000,2634.000000,20397.000000,5618.000000,19977.000000,2634.000000,12478.000000,1.247805e+06,31453.000000,26.000000,53.000000,12478.000000,1.247805e+06,31453.000000,26.000000,53.000000,1300.000000,1306.000000,-4.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,2021.0,1.0,2.0,22.000000,6.000000,19977.000000,4641.000000,20397.000000,5620.000000,20397.000000,4641.000000,14057.000000,1.405702e+06,32575.000000,45.000000,82.000000,14057.000000,1.405702e+06,32575.000000,45.000000,82.000000,1646.000000,1651.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2021.0,1.0,2.0,28.000000,7.000000,20436.000000,9658.000000,20452.000000,6145.000000,20500.000000,9658.000000,16869.000000,1.686901e+06,36101.000000,78.000000,93.000000,16869.000000,1.686901e+06,36101.000000,78.000000,93.000000,2359.000000,2400.000000,2791.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

###### Removing all the unnecessary columns from OTPFeb20 Data frame and Keep the data frame one the remaining columns

In [297]:

# OTPFeb20 = OTPFeb20.loc[['Year','Month','DayofMonth','DayOfWeek','FlightDate','DOT_ID_Marketing_Airline','IATA_Code_Marketing_Airline',
# 'Flight_Number_Marketing_Airline','Operating_Airline','Flight_Number_Operating_Airline','OriginAirportID','OriginCityMarketID','Origin',
# 'OriginCityName','OriginState','OriginStateName','DestAirportID','Dest','DestCityName','DestState','DestStateName','CRSDepTime',
# 'DepTime','DepDelay','DepDelayMinutes','TaxiOut','WheelsOff','WheelsOn','TaxiIn','CRSArrTime','ArrTime','ArrDelay','ArrDelayMinutes',
# 'Cancelled','Diverted','CRSElapsedTime','ActualElapsedTime','AirTime','CarrierDelay','WeatherDelay','NASDelay','SecurityDelay','LateAircraftDelay',
# 'TotalAddGTime','DivAirportLandings','Duplicate']]

columns ={'Year','Month','DayofMonth','DayOfWeek','FlightDate','DOT_ID_Marketing_Airline','IATA_Code_Marketing_Airline',
'Flight_Number_Marketing_Airline','Flight_Number_Operating_Airline','OriginAirportID','OriginCityMarketID','Origin',
'OriginCityName','OriginState','OriginStateName','DestAirportID','Dest','DestCityName','DestState','DestStateName','CRSDepTime',
'DepTime','DepDelay','DepDelayMinutes','TaxiOut','WheelsOff','WheelsOn','TaxiIn','CRSArrTime','ArrTime','ArrDelay','ArrDelayMinutes',
'Cancelled','Diverted','CRSElapsedTime','ActualElapsedTime','AirTime','CarrierDelay','WeatherDelay','NASDelay','SecurityDelay','LateAircraftDelay',
'TotalAddGTime','DivAirportLandings','Duplicate'}
pd.set_option('display.max_columns', 48)
#Restricting the dataframes on the above mentioned columns only 
OTPFeb20_Clean=OTPFeb20[columns]
OTPAug20_Clean=OTPAug20[columns]
OTPFeb21_Clean=OTPFeb21[columns]
OTPAug19_Clean=OTPAug19[columns]

In [298]:
#Expaling the info using the color and/or formating style in the out put, to do that the follwing class defintion is used
OTPAug19_Clean.rename(columns = {'IATA_Code_Marketing_Airline' :'IATA'},inplace=True)
OTPFeb20_Clean.rename(columns = {'IATA_Code_Marketing_Airline' :'IATA'},inplace=True)
OTPAug20_Clean.rename(columns = {'IATA_Code_Marketing_Airline' :'IATA'},inplace=True)
OTPFeb21_Clean.rename(columns = {'IATA_Code_Marketing_Airline' :'IATA'},inplace=True)

class color:
   PURPLE = '\033[95m'
   CYAN = '\033[96m'
   DARKCYAN = '\033[36m'
   BLUE = '\033[94m'
   GREEN = '\033[92m'
   YELLOW = '\033[93m'
   RED = '\033[91m'
   BOLD = '\033[1m'
   UNDERLINE = '\033[4m'
   END = '\033[0m'

print("\n\n"+color.BOLD +'\033[1m' + color.DARKCYAN +'\033[36m'+ 'Aug19 Performance data looks like below !'+color.END)
display(OTPAug19_Clean.head())    
print("\n\n"+color.BOLD +'\033[1m' + color.DARKCYAN +'\033[36m'+ 'Fep20 Performance data looks like below !'+color.END)
display(OTPFeb20_Clean.head())
print("\n\n"+color.BOLD +'\033[1m' + color.DARKCYAN +'\033[36m'+ 'Aug20 Performance data looks like below !'+color.END)
display(OTPAug20_Clean.head())
print("\n\n"+color.BOLD +'\033[1m' + color.DARKCYAN +'\033[36m'+ 'Fep21 Performance data looks like below !'+color.END)
display(OTPFeb21_Clean.head())
print("\n\n"+color.BOLD +'\033[1m' + color.DARKCYAN +'\033[36m'+ 'Fep21 Performance data looks like below !'+color.END)
display(OTPFeb21_Clean.head())

Aug19 Performance data looks like below !

C:\Users\yamar\anaconda3\envs\geospatial\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,OriginAirportID,TaxiOut,CRSDepTime,OriginStateName,ArrTime,DestAirportID,Dest,WheelsOn,LateAircraftDelay,IATA,Origin,DivAirportLandings,Flight_Number_Marketing_Airline,TaxiIn,DestCityName,OriginState,DOT_ID_Marketing_Airline,WheelsOff,TotalAddGTime,DepTime,Year,OriginCityMarketID,DepDelay,Cancelled,Flight_Number_Operating_Airline,DestStateName,CRSElapsedTime,DayofMonth,AirTime,CarrierDelay,DayOfWeek,NASDelay,WeatherDelay,CRSArrTime,ArrDelayMinutes,ArrDelay,Diverted,SecurityDelay,FlightDate,Duplicate,ActualElapsedTime,DestState,Month,OriginCityName,DepDelayMinutes
0,11292,12.0,2150,Colorado,52.0,13232,MDW,49.0,NaN,WN,DEN,NaN,4349,3.0,"Chicago, IL",CO,19393,2202.0,NaN,2150.0,2019,30325,0.0,0,4349,Illinois,NaN,25,122.0,4,7,NaN,NaN,105,0.0,-13.0,0,NaN,8/25/2019,N,135,IL,8,"Denver, CO",0.0
1,11292,11.0,845,Colorado,1148.0,13232,MDW,1145.0,NaN,WN,DEN,NaN,5510,3.0,"Chicago, IL",CO,19393,852.0,NaN,841.0,2019,30325,-4.0,0,5510,Illinois,NaN,25,127.0,4,7,NaN,NaN,1205,0.0,-17.0,0,NaN,8/25/2019,N,140,IL,8,"Denver, CO",0.0
2,11292,14.0,1605,Colorado,1909.0,13232,MDW,1906.0,NaN,WN,DEN,NaN,5518,3.0,"Chicago, IL",CO,19393,1614.0,NaN,1600.0,2019,30325,-5.0,0,5518,Illinois,NaN,25,129.0,4,7,NaN,NaN,1925,0.0,-16.0,0,NaN,8/25/2019,N,140,IL,8,"Denver, CO",0.0
3,11292,10.0,2000,Colorado,2301.0,13232,MDW,2259.0,NaN,WN,DEN,NaN,5639,2.0,"Chicago, IL",CO,19393,2008.0,NaN,1958.0,2019,30325,-2.0,0,5639,Illinois,NaN,25,123.0,4,7,NaN,NaN,2320,0.0,-19.0,0,NaN,8/25/2019,N,140,IL,8,"Denver, CO",0.0
4,11292,15.0,1050,Colorado,1405.0,13244,MEM,1402.0,NaN,WN,DEN,NaN,4779,3.0,"Memphis, TN",CO,19393,1109.0,NaN,1054.0,2019,30325,4.0,0,4779,Tennessee,NaN,25,131.0,4,7,NaN,NaN,1410,0.0,-5.0,0,NaN,8/25/2019,N,140,TN,8,"Denver, CO",4.0

Fep20 Performance data looks like below !

,OriginAirportID,TaxiOut,CRSDepTime,OriginStateName,ArrTime,DestAirportID,Dest,WheelsOn,LateAircraftDelay,IATA,Origin,DivAirportLandings,Flight_Number_Marketing_Airline,TaxiIn,DestCityName,OriginState,DOT_ID_Marketing_Airline,WheelsOff,TotalAddGTime,DepTime,Year,OriginCityMarketID,DepDelay,Cancelled,Flight_Number_Operating_Airline,DestStateName,CRSElapsedTime,DayofMonth,AirTime,CarrierDelay,DayOfWeek,NASDelay,WeatherDelay,CRSArrTime,ArrDelayMinutes,ArrDelay,Diverted,SecurityDelay,FlightDate,Duplicate,ActualElapsedTime,DestState,Month,OriginCityName,DepDelayMinutes
0,11057,20.0,1434,North Carolina,1531.0,13139,LYH,1526.0,NaN,AA,CLT,0,3300,5.0,"Lynchburg, VA",NC,19805,1450.0,NaN,1430.0,2020,31057,-4.0,0,3300,Virginia,65,1,36.0,NaN,6,NaN,NaN,1539,0.0,-8.0,0,NaN,2/1/2020,N,61.0,VA,2,"Charlotte, NC",0.0
1,11057,17.0,1434,North Carolina,1548.0,13139,LYH,1539.0,NaN,AA,CLT,0,3300,9.0,"Lynchburg, VA",NC,19805,1459.0,NaN,1442.0,2020,31057,8.0,0,3300,Virginia,65,8,40.0,NaN,6,NaN,NaN,1539,9.0,9.0,0,NaN,2/8/2020,N,66.0,VA,2,"Charlotte, NC",8.0
2,11298,28.0,2235,Texas,2356.0,14814,SHV,2354.0,12.0,AA,DFW,0,3300,2.0,"Shreveport, LA",TX,19805,2315.0,NaN,2247.0,2020,30194,12.0,0,3300,Louisiana,63,13,39.0,0.0,4,6.0,0.0,2338,18.0,18.0,0,0.0,2/13/2020,N,69.0,LA,2,"Dallas/Fort Worth, TX",12.0
3,11298,15.0,2235,Texas,2321.0,14814,SHV,2317.0,NaN,AA,DFW,0,3300,4.0,"Shreveport, LA",TX,19805,2245.0,NaN,2230.0,2020,30194,-5.0,0,3300,Louisiana,63,14,32.0,NaN,5,NaN,NaN,2338,0.0,-17.0,0,NaN,2/14/2020,N,51.0,LA,2,"Dallas/Fort Worth, TX",0.0
4,11298,26.0,2235,Texas,2348.0,14814,SHV,2343.0,NaN,AA,DFW,0,3300,5.0,"Shreveport, LA",TX,19805,2312.0,NaN,2246.0,2020,30194,11.0,0,3300,Louisiana,63,15,31.0,NaN,6,NaN,NaN,2338,10.0,10.0,0,NaN,2/15/2020,N,62.0,LA,2,"Dallas/Fort Worth, TX",11.0

Aug20 Performance data looks like below !

,OriginAirportID,TaxiOut,CRSDepTime,OriginStateName,ArrTime,DestAirportID,Dest,WheelsOn,LateAircraftDelay,IATA,Origin,DivAirportLandings,Flight_Number_Marketing_Airline,TaxiIn,DestCityName,OriginState,DOT_ID_Marketing_Airline,WheelsOff,TotalAddGTime,DepTime,Year,OriginCityMarketID,DepDelay,Cancelled,Flight_Number_Operating_Airline,DestStateName,CRSElapsedTime,DayofMonth,AirTime,CarrierDelay,DayOfWeek,NASDelay,WeatherDelay,CRSArrTime,ArrDelayMinutes,ArrDelay,Diverted,SecurityDelay,FlightDate,Duplicate,ActualElapsedTime,DestState,Month,OriginCityName,DepDelayMinutes
0,11292,9.0,1545,Colorado,2057.0,10821,BWI,2054.0,NaN,WN,DEN,0.0,1443,3.0,"Baltimore, MD",CO,19393,1551.0,NaN,1542.0,2020,30325,-3.0,0,1443,Maryland,200.0,24,183.0,NaN,1,NaN,NaN,2105,0.0,-8.0,0,NaN,8/24/2020,NaN,195.0,MD,8,"Denver, CO",0.0
1,11292,13.0,1955,Colorado,32.0,11042,CLE,27.0,NaN,WN,DEN,0.0,443,5.0,"Cleveland, OH",CO,19393,2003.0,NaN,1950.0,2020,30325,-5.0,0,443,Ohio,165.0,24,144.0,NaN,1,NaN,NaN,40,0.0,-8.0,0,NaN,8/24/2020,NaN,162.0,OH,8,"Denver, CO",0.0
2,11292,11.0,1335,Colorado,1819.0,11042,CLE,1814.0,NaN,WN,DEN,0.0,1572,5.0,"Cleveland, OH",CO,19393,1343.0,NaN,1332.0,2020,30325,-3.0,0,1572,Ohio,165.0,24,151.0,NaN,1,NaN,NaN,1820,0.0,-1.0,0,NaN,8/24/2020,NaN,167.0,OH,8,"Denver, CO",0.0
3,11292,10.0,1415,Colorado,1847.0,11066,CMH,1845.0,NaN,WN,DEN,0.0,204,2.0,"Columbus, OH",CO,19393,1418.0,NaN,1408.0,2020,30325,-7.0,0,204,Ohio,160.0,24,147.0,NaN,1,NaN,NaN,1855,0.0,-8.0,0,NaN,8/24/2020,NaN,159.0,OH,8,"Denver, CO",0.0
4,11292,13.0,1945,Colorado,25.0,11066,CMH,20.0,NaN,WN,DEN,0.0,1642,5.0,"Columbus, OH",CO,19393,1957.0,NaN,1944.0,2020,30325,-1.0,0,1642,Ohio,155.0,24,143.0,NaN,1,NaN,NaN,20,5.0,5.0,0,NaN,8/24/2020,NaN,161.0,OH,8,"Denver, CO",0.0

Fep21 Performance data looks like below !

,OriginAirportID,TaxiOut,CRSDepTime,OriginStateName,ArrTime,DestAirportID,Dest,WheelsOn,LateAircraftDelay,IATA,Origin,DivAirportLandings,Flight_Number_Marketing_Airline,TaxiIn,DestCityName,OriginState,DOT_ID_Marketing_Airline,WheelsOff,TotalAddGTime,DepTime,Year,OriginCityMarketID,DepDelay,Cancelled,Flight_Number_Operating_Airline,DestStateName,CRSElapsedTime,DayofMonth,AirTime,CarrierDelay,DayOfWeek,NASDelay,WeatherDelay,CRSArrTime,ArrDelayMinutes,ArrDelay,Diverted,SecurityDelay,FlightDate,Duplicate,ActualElapsedTime,DestState,Month,OriginCityName,DepDelayMinutes
0,14893,12.0,1345,California,1614.0,14869,SLC,1610.0,NaN,DL,SMF,0,1432,4.0,"Salt Lake City, UT",CA,19790,1350.0,NaN,1338.0,2021,33192,-7.0,0,1432,Utah,94,21,80.0,NaN,7,NaN,NaN,1619,0.0,-5.0,0,NaN,2/21/2021,NaN,96.0,UT,2,"Sacramento, CA",0.0
1,10397,10.0,1221,Georgia,1616.0,11042,CLE,1611.0,0.0,DL,ATL,0,1434,5.0,"Cleveland, OH",GA,19790,1458.0,NaN,1448.0,2021,30397,147.0,0,1434,Ohio,100,21,73.0,135.0,7,0.0,0.0,1401,135.0,135.0,0,0.0,2/21/2021,NaN,88.0,OH,2,"Atlanta, GA",147.0
2,11042,40.0,1516,Ohio,1924.0,10397,ATL,1917.0,105.0,DL,CLE,0,1434,7.0,"Atlanta, GA",OH,19790,1751.0,NaN,1711.0,2021,30647,115.0,0,1434,Georgia,109,21,86.0,10.0,7,24.0,0.0,1705,139.0,139.0,0,0.0,2/21/2021,NaN,133.0,GA,2,"Cleveland, OH",115.0
3,10397,12.0,1640,Georgia,1733.0,11057,CLT,1727.0,NaN,DL,ATL,0,1435,6.0,"Charlotte, NC",GA,19790,1647.0,NaN,1635.0,2021,30397,-5.0,0,1435,North Carolina,74,21,40.0,NaN,7,NaN,NaN,1754,0.0,-21.0,0,NaN,2/21/2021,NaN,58.0,NC,2,"Atlanta, GA",0.0
4,11057,28.0,1859,North Carolina,2010.0,10397,ATL,2004.0,NaN,DL,CLT,0,1435,6.0,"Atlanta, GA",NC,19790,1921.0,NaN,1853.0,2021,31057,-6.0,0,1435,Georgia,81,21,43.0,NaN,7,NaN,NaN,2020,0.0,-10.0,0,NaN,2/21/2021,NaN,77.0,GA,2,"Charlotte, NC",0.0

Fep21 Performance data looks like below !

,OriginAirportID,TaxiOut,CRSDepTime,OriginStateName,ArrTime,DestAirportID,Dest,WheelsOn,LateAircraftDelay,IATA,Origin,DivAirportLandings,Flight_Number_Marketing_Airline,TaxiIn,DestCityName,OriginState,DOT_ID_Marketing_Airline,WheelsOff,TotalAddGTime,DepTime,Year,OriginCityMarketID,DepDelay,Cancelled,Flight_Number_Operating_Airline,DestStateName,CRSElapsedTime,DayofMonth,AirTime,CarrierDelay,DayOfWeek,NASDelay,WeatherDelay,CRSArrTime,ArrDelayMinutes,ArrDelay,Diverted,SecurityDelay,FlightDate,Duplicate,ActualElapsedTime,DestState,Month,OriginCityName,DepDelayMinutes
0,14893,12.0,1345,California,1614.0,14869,SLC,1610.0,NaN,DL,SMF,0,1432,4.0,"Salt Lake City, UT",CA,19790,1350.0,NaN,1338.0,2021,33192,-7.0,0,1432,Utah,94,21,80.0,NaN,7,NaN,NaN,1619,0.0,-5.0,0,NaN,2/21/2021,NaN,96.0,UT,2,"Sacramento, CA",0.0
1,10397,10.0,1221,Georgia,1616.0,11042,CLE,1611.0,0.0,DL,ATL,0,1434,5.0,"Cleveland, OH",GA,19790,1458.0,NaN,1448.0,2021,30397,147.0,0,1434,Ohio,100,21,73.0,135.0,7,0.0,0.0,1401,135.0,135.0,0,0.0,2/21/2021,NaN,88.0,OH,2,"Atlanta, GA",147.0
2,11042,40.0,1516,Ohio,1924.0,10397,ATL,1917.0,105.0,DL,CLE,0,1434,7.0,"Atlanta, GA",OH,19790,1751.0,NaN,1711.0,2021,30647,115.0,0,1434,Georgia,109,21,86.0,10.0,7,24.0,0.0,1705,139.0,139.0,0,0.0,2/21/2021,NaN,133.0,GA,2,"Cleveland, OH",115.0
3,10397,12.0,1640,Georgia,1733.0,11057,CLT,1727.0,NaN,DL,ATL,0,1435,6.0,"Charlotte, NC",GA,19790,1647.0,NaN,1635.0,2021,30397,-5.0,0,1435,North Carolina,74,21,40.0,NaN,7,NaN,NaN,1754,0.0,-21.0,0,NaN,2/21/2021,NaN,58.0,NC,2,"Atlanta, GA",0.0
4,11057,28.0,1859,North Carolina,2010.0,10397,ATL,2004.0,NaN,DL,CLT,0,1435,6.0,"Atlanta, GA",NC,19790,1921.0,NaN,1853.0,2021,31057,-6.0,0,1435,Georgia,81,21,43.0,NaN,7,NaN,NaN,2020,0.0,-10.0,0,NaN,2/21/2021,NaN,77.0,GA,2,"Charlotte, NC",0.0

In [299]:
pd.set_option('display.max_rows', 20)
display(OTPFeb21_Clean)

,OriginAirportID,TaxiOut,CRSDepTime,OriginStateName,ArrTime,DestAirportID,Dest,WheelsOn,LateAircraftDelay,IATA,Origin,DivAirportLandings,Flight_Number_Marketing_Airline,TaxiIn,DestCityName,OriginState,DOT_ID_Marketing_Airline,WheelsOff,TotalAddGTime,DepTime,Year,OriginCityMarketID,DepDelay,Cancelled,Flight_Number_Operating_Airline,DestStateName,CRSElapsedTime,DayofMonth,AirTime,CarrierDelay,DayOfWeek,NASDelay,WeatherDelay,CRSArrTime,ArrDelayMinutes,ArrDelay,Diverted,SecurityDelay,FlightDate,Duplicate,ActualElapsedTime,DestState,Month,OriginCityName,DepDelayMinutes
0,14893,12.0,1345,California,1614.0,14869,SLC,1610.0,NaN,DL,SMF,0,1432,4.0,"Salt Lake City, UT",CA,19790,1350.0,NaN,1338.0,2021,33192,-7.0,0,1432,Utah,94,21,80.0,NaN,7,NaN,NaN,1619,0.0,-5.0,0,NaN,2/21/2021,NaN,96.0,UT,2,"Sacramento, CA",0.0
1,10397,10.0,1221,Georgia,1616.0,11042,CLE,1611.0,0.0,DL,ATL,0,1434,5.0,"Cleveland, OH",GA,19790,1458.0,NaN,1448.0,2021,30397,147.0,0,1434,Ohio,100,21,73.0,135.0,7,0.0,0.0,1401,135.0,135.0,0,0.0,2/21/2021,NaN,88.0,OH,2,"Atlanta, GA",147.0
2,11042,40.0,1516,Ohio,1924.0,10397,ATL,1917.0,105.0,DL,CLE,0,1434,7.0,"Atlanta, GA",OH,19790,1751.0,NaN,1711.0,2021,30647,115.0,0,1434,Georgia,109,21,86.0,10.0,7,24.0,0.0,1705,139.0,139.0,0,0.0,2/21/2021,NaN,133.0,GA,2,"Cleveland, OH",115.0
3,10397,12.0,1640,Georgia,1733.0,11057,CLT,1727.0,NaN,DL,ATL,0,1435,6.0,"Charlotte, NC",GA,19790,1647.0,NaN,1635.0,2021,30397,-5.0,0,1435,North Carolina,74,21,40.0,NaN,7,NaN,NaN,1754,0.0,-21.0,0,NaN,2/21/2021,NaN,58.0,NC,2,"Atlanta, GA",0.0
4,11057,28.0,1859,North Carolina,2010.0,10397,ATL,2004.0,NaN,DL,CLT,0,1435,6.0,"Atlanta, GA",NC,19790,1921.0,NaN,1853.0,2021,31057,-6.0,0,1435,Georgia,81,21,43.0,NaN,7,NaN,NaN,2020,0.0,-10.0,0,NaN,2/21/2021,NaN,77.0,GA,2,"Charlotte, NC",0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350165,11618,18.0,1825,New Jersey,1938.0,14321,PWM,1935.0,NaN,YX,EWR,0,3475,3.0,"Portland, ME",NJ,19977,1848.0,2.0,1830.0,2021,31703,5.0,0,3475,Maine,74,27,47.0,NaN,6,NaN,NaN,1939,0.0,-1.0,0,NaN,2/27/2021,NaN,68.0,ME,2,"Newark, NJ",5.0
350166,11618,23.0,1815,New Jersey,2129.0,12339,IND,2121.0,0.0,YX,EWR,0,3414,8.0,"Indianapolis, IN",NJ,19977,1923.0,43.0,1900.0,2021,31703,45.0,0,3414,Indiana,141,28,118.0,45.0,7,8.0,0.0,2036,53.0,53.0,0,0.0,2/28/2021,NaN,149.0,IN,2,"Newark, NJ",45.0
350167,10397,15.0,645,Georgia,1507.0,13930,ORD,1500.0,0.0,YX,ATL,0,3628,7.0,"Chicago, IL",GA,19977,1425.0,36.0,1410.0,2021,30397,445.0,0,3628,Illinois,135,28,95.0,427.0,7,0.0,0.0,800,427.0,427.0,0,0.0,2/28/2021,NaN,117.0,IL,2,"Atlanta, GA",445.0
350168,11618,13.0,1835,New Jersey,1300.0,11042,CLE,1250.0,899.0,YX,EWR,0,3432,10.0,"Cleveland, OH",NJ,19977,1141.0,NaN,1128.0,2021,31703,1013.0,0,3432,Ohio,100,15,69.0,0.0,1,0.0,106.0,2015,1005.0,1005.0,0,0.0,2/15/2021,NaN,92.0,OH,2,"Newark, NJ",1013.0
350169,14321,NaN,1200,Maine,NaN,11618,EWR,NaN,NaN,YX,PWM,0,3508,NaN,"Newark, NJ",ME,19977,NaN,NaN,NaN,2021,34321,NaN,1,3508,New Jersey,111,2,NaN,NaN,2,NaN,NaN,1351,NaN,NaN,0,NaN,2/2/2021,NaN,NaN,NJ,2,"Portland, ME",NaN

###### Calculating the number and percentage of flights conducted by an Airline from the whole

In [300]:
# for x.str() in range (OTPFeb20_Clean['IATA']):
#     OTPFeb20_Clean[x].value_counts(ascending=True)
#OTPFeb20_Clean['IATA'].value_counts(bins=1) 
# OTPAug20_Clean
# OTPFeb21_Clean

In [301]:
OTPFeb20_Clean

,OriginAirportID,TaxiOut,CRSDepTime,OriginStateName,ArrTime,DestAirportID,Dest,WheelsOn,LateAircraftDelay,IATA,Origin,DivAirportLandings,Flight_Number_Marketing_Airline,TaxiIn,DestCityName,OriginState,DOT_ID_Marketing_Airline,WheelsOff,TotalAddGTime,DepTime,Year,OriginCityMarketID,DepDelay,Cancelled,Flight_Number_Operating_Airline,DestStateName,CRSElapsedTime,DayofMonth,AirTime,CarrierDelay,DayOfWeek,NASDelay,WeatherDelay,CRSArrTime,ArrDelayMinutes,ArrDelay,Diverted,SecurityDelay,FlightDate,Duplicate,ActualElapsedTime,DestState,Month,OriginCityName,DepDelayMinutes
0,11057,20.0,1434,North Carolina,1531.0,13139,LYH,1526.0,NaN,AA,CLT,0,3300,5.0,"Lynchburg, VA",NC,19805,1450.0,NaN,1430.0,2020,31057,-4.0,0,3300,Virginia,65,1,36.0,NaN,6,NaN,NaN,1539,0.0,-8.0,0,NaN,2/1/2020,N,61.0,VA,2,"Charlotte, NC",0.0
1,11057,17.0,1434,North Carolina,1548.0,13139,LYH,1539.0,NaN,AA,CLT,0,3300,9.0,"Lynchburg, VA",NC,19805,1459.0,NaN,1442.0,2020,31057,8.0,0,3300,Virginia,65,8,40.0,NaN,6,NaN,NaN,1539,9.0,9.0,0,NaN,2/8/2020,N,66.0,VA,2,"Charlotte, NC",8.0
2,11298,28.0,2235,Texas,2356.0,14814,SHV,2354.0,12.0,AA,DFW,0,3300,2.0,"Shreveport, LA",TX,19805,2315.0,NaN,2247.0,2020,30194,12.0,0,3300,Louisiana,63,13,39.0,0.0,4,6.0,0.0,2338,18.0,18.0,0,0.0,2/13/2020,N,69.0,LA,2,"Dallas/Fort Worth, TX",12.0
3,11298,15.0,2235,Texas,2321.0,14814,SHV,2317.0,NaN,AA,DFW,0,3300,4.0,"Shreveport, LA",TX,19805,2245.0,NaN,2230.0,2020,30194,-5.0,0,3300,Louisiana,63,14,32.0,NaN,5,NaN,NaN,2338,0.0,-17.0,0,NaN,2/14/2020,N,51.0,LA,2,"Dallas/Fort Worth, TX",0.0
4,11298,26.0,2235,Texas,2348.0,14814,SHV,2343.0,NaN,AA,DFW,0,3300,5.0,"Shreveport, LA",TX,19805,2312.0,NaN,2246.0,2020,30194,11.0,0,3300,Louisiana,63,15,31.0,NaN,6,NaN,NaN,2338,10.0,10.0,0,NaN,2/15/2020,N,62.0,LA,2,"Dallas/Fort Worth, TX",11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
623098,11433,42.0,1424,Michigan,1635.0,13930,ORD,1618.0,0.0,UA,DTW,0,4539,17.0,"Chicago, IL",MI,19977,1624.0,NaN,1542.0,2020,31295,78.0,0,3151,Illinois,91,6,54.0,78.0,4,22.0,0.0,1455,100.0,100.0,0,0.0,2/6/2020,N,113.0,IL,2,"Detroit, MI",78.0
623099,13930,65.0,1125,Illinois,1520.0,11433,DTW,1514.0,0.0,UA,ORD,0,4521,6.0,"Detroit, MI",IL,19977,1324.0,NaN,1219.0,2020,30977,54.0,0,3150,Michigan,83,6,50.0,54.0,4,38.0,0.0,1348,92.0,92.0,0,0.0,2/6/2020,N,121.0,MI,2,"Chicago, IL",54.0
623100,13930,63.0,1540,Illinois,1850.0,11433,DTW,1840.0,0.0,UA,ORD,0,4509,10.0,"Detroit, MI",IL,19977,1642.0,NaN,1539.0,2020,30977,-1.0,0,3211,Michigan,86,6,58.0,0.0,4,44.0,0.0,1806,44.0,44.0,0,0.0,2/6/2020,N,131.0,MI,2,"Chicago, IL",0.0
623101,11433,73.0,1936,Michigan,2104.0,13930,ORD,2042.0,0.0,UA,DTW,0,4509,22.0,"Chicago, IL",MI,19977,2049.0,NaN,1936.0,2020,31295,0.0,0,3212,Illinois,91,6,53.0,0.0,4,57.0,0.0,2007,57.0,57.0,0,0.0,2/6/2020,N,148.0,IL,2,"Detroit, MI",0.0
623102,12953,19.0,600,New York,719.0,12264,IAD,713.0,NaN,UA,LGA,0,3812,6.0,"Washington, DC",NY,19977,619.0,NaN,600.0,2020,31703,0.0,0,3225,Virginia,85,1,54.0,NaN,6,NaN,NaN,725,0.0,-6.0,0,NaN,2/1/2020,N,79.0,VA,2,"New York, NY",0.0

###### Including two calculated boolean fields into the data Frame , to calculate Departure and Arrival Delays

In [302]:
# As an the best aviation practice a flights falls in irregualrity or major delay iff it delays for 15' or more 
# Hence here, the two calculated fields added to check weather a flight leg is delayed for 15'm or nor and assigigning a (1,0)<->(True,False)
# Numeric or boolean values .
#OTPFeb20_Clean['Dep_Delay15'] = OTPFeb20_Clean.loc[(OTPFeb20_Clean['DepDelayMinutes']>=15,1,0)]
OTPAug19_Clean['Dep_Delay15'] = np.where(OTPAug19_Clean['DepDelayMinutes']>=15,1,0)
OTPAug19_Clean['Arr_Delay15'] = np.where(OTPAug19_Clean['ArrDelayMinutes']>=15,1,0)
OTPFeb20_Clean['Dep_Delay15'] = np.where(OTPFeb20_Clean['DepDelayMinutes']>=15,1,0)
OTPFeb20_Clean['Arr_Delay15'] = np.where(OTPFeb20_Clean['ArrDelayMinutes']>=15,1,0)
OTPAug20_Clean['Dep_Delay15'] = np.where(OTPAug20_Clean['DepDelayMinutes']>=15,1,0)
OTPAug20_Clean['Arr_Delay15'] = np.where(OTPAug20_Clean['ArrDelayMinutes']>=15,1,0)
OTPFeb21_Clean['Dep_Delay15'] = np.where(OTPFeb21_Clean['DepDelayMinutes']>=15,1,0)
OTPFeb21_Clean['Arr_Delay15'] = np.where(OTPFeb21_Clean['ArrDelayMinutes']>=15,1,0)

<ipython-input-302-0f2914534ebb>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OTPAug19_Clean['Dep_Delay15'] = np.where(OTPAug19_Clean['DepDelayMinutes']>=15,1,0)
<ipython-input-302-0f2914534ebb>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OTPAug19_Clean['Arr_Delay15'] = np.where(OTPAug19_Clean['ArrDelayMinutes']>=15,1,0)
<ipython-input-302-0f2914534ebb>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OTPFeb20_Clean['Dep_Delay15'] = np.where(OTPFeb20_Clean['DepDelayMinutes']>=15,1,0)
<ipython-input-302-0f2914534ebb>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OTPFeb20_Clean['Arr_Delay15'] = np.where(OTPFeb20_Clean['ArrDelayMinutes']>=15,1,0)
<ipython-input-302-0f2914534ebb>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OTPAug20_Clean['Dep_Delay15'] = np.where(OTPAug20_Clean['DepDelayMinutes']>=15,1,0)
<ipython-input-302-0f2914534ebb>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OTPAug20_Clean['Arr_Delay15'] = np.where(OTPAug20_Clean['ArrDelayMinutes']>=15,1,0)
<ipython-input-302-0f2914534ebb>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OTPFeb21_Clean['Dep_Delay15'] = np.where(OTPFeb21_Clean['DepDelayMinutes']>=15,1,0)
<ipython-input-302-0f2914534ebb>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OTPFeb21_Clean['Arr_Delay15'] = np.where(OTPFeb21_Clean['ArrDelayMinutes']>=15,1,0)

In [303]:
#To capitallize the column names on the Aug20 and Feb21 dataframes the following code was utilized .
#OTPAug20.columns = [str(x).capitalize() for x in OTPAug20.columns]

###### Looking into the cleansed data frames with the checking of the departure and arrival delay value greater or equal to 15'

In [304]:
#Looking into the cleansed data frames with the checking of the departure and arrival delay value greater or equal to 15'
class color:
   PURPLE = '\033[95m'
   CYAN = '\033[96m'
   DARKCYAN = '\033[36m'
   BOLD = '\033[1m'
   END ='\033[0m'

print("\n\n"+color.BOLD +'\033[1m' + color.DARKCYAN +'\033[36m'+ 'Aug19 Performance data looks like below !'+color.END)
display(OTPAug19_Clean.head())
print("\n\n"+color.BOLD +'\033[1m' + color.DARKCYAN +'\033[36m'+ 'Fep20 Performance data looks like below !'+color.END)
display(OTPFeb20_Clean.head())
print("\n\n"+color.BOLD +'\033[1m' + color.DARKCYAN +'\033[36m'+ 'Aug20 Performance data looks like below !'+color.END)
display(OTPAug20_Clean.head())
print("\n\n"+color.BOLD +'\033[1m' + color.DARKCYAN +'\033[36m'+ 'Fep21 Performance data looks like below !'+color.END)
display(OTPFeb21_Clean.head())

Aug19 Performance data looks like below !

,OriginAirportID,TaxiOut,CRSDepTime,OriginStateName,ArrTime,DestAirportID,Dest,WheelsOn,LateAircraftDelay,IATA,Origin,DivAirportLandings,Flight_Number_Marketing_Airline,TaxiIn,DestCityName,OriginState,DOT_ID_Marketing_Airline,WheelsOff,TotalAddGTime,DepTime,Year,OriginCityMarketID,DepDelay,Cancelled,Flight_Number_Operating_Airline,DestStateName,CRSElapsedTime,DayofMonth,AirTime,CarrierDelay,DayOfWeek,NASDelay,WeatherDelay,CRSArrTime,ArrDelayMinutes,ArrDelay,Diverted,SecurityDelay,FlightDate,Duplicate,ActualElapsedTime,DestState,Month,OriginCityName,DepDelayMinutes,Dep_Delay15,Arr_Delay15
0,11292,12.0,2150,Colorado,52.0,13232,MDW,49.0,NaN,WN,DEN,NaN,4349,3.0,"Chicago, IL",CO,19393,2202.0,NaN,2150.0,2019,30325,0.0,0,4349,Illinois,NaN,25,122.0,4,7,NaN,NaN,105,0.0,-13.0,0,NaN,8/25/2019,N,135,IL,8,"Denver, CO",0.0,0,0
1,11292,11.0,845,Colorado,1148.0,13232,MDW,1145.0,NaN,WN,DEN,NaN,5510,3.0,"Chicago, IL",CO,19393,852.0,NaN,841.0,2019,30325,-4.0,0,5510,Illinois,NaN,25,127.0,4,7,NaN,NaN,1205,0.0,-17.0,0,NaN,8/25/2019,N,140,IL,8,"Denver, CO",0.0,0,0
2,11292,14.0,1605,Colorado,1909.0,13232,MDW,1906.0,NaN,WN,DEN,NaN,5518,3.0,"Chicago, IL",CO,19393,1614.0,NaN,1600.0,2019,30325,-5.0,0,5518,Illinois,NaN,25,129.0,4,7,NaN,NaN,1925,0.0,-16.0,0,NaN,8/25/2019,N,140,IL,8,"Denver, CO",0.0,0,0
3,11292,10.0,2000,Colorado,2301.0,13232,MDW,2259.0,NaN,WN,DEN,NaN,5639,2.0,"Chicago, IL",CO,19393,2008.0,NaN,1958.0,2019,30325,-2.0,0,5639,Illinois,NaN,25,123.0,4,7,NaN,NaN,2320,0.0,-19.0,0,NaN,8/25/2019,N,140,IL,8,"Denver, CO",0.0,0,0
4,11292,15.0,1050,Colorado,1405.0,13244,MEM,1402.0,NaN,WN,DEN,NaN,4779,3.0,"Memphis, TN",CO,19393,1109.0,NaN,1054.0,2019,30325,4.0,0,4779,Tennessee,NaN,25,131.0,4,7,NaN,NaN,1410,0.0,-5.0,0,NaN,8/25/2019,N,140,TN,8,"Denver, CO",4.0,0,0

Fep20 Performance data looks like below !

,OriginAirportID,TaxiOut,CRSDepTime,OriginStateName,ArrTime,DestAirportID,Dest,WheelsOn,LateAircraftDelay,IATA,Origin,DivAirportLandings,Flight_Number_Marketing_Airline,TaxiIn,DestCityName,OriginState,DOT_ID_Marketing_Airline,WheelsOff,TotalAddGTime,DepTime,Year,OriginCityMarketID,DepDelay,Cancelled,Flight_Number_Operating_Airline,DestStateName,CRSElapsedTime,DayofMonth,AirTime,CarrierDelay,DayOfWeek,NASDelay,WeatherDelay,CRSArrTime,ArrDelayMinutes,ArrDelay,Diverted,SecurityDelay,FlightDate,Duplicate,ActualElapsedTime,DestState,Month,OriginCityName,DepDelayMinutes,Dep_Delay15,Arr_Delay15
0,11057,20.0,1434,North Carolina,1531.0,13139,LYH,1526.0,NaN,AA,CLT,0,3300,5.0,"Lynchburg, VA",NC,19805,1450.0,NaN,1430.0,2020,31057,-4.0,0,3300,Virginia,65,1,36.0,NaN,6,NaN,NaN,1539,0.0,-8.0,0,NaN,2/1/2020,N,61.0,VA,2,"Charlotte, NC",0.0,0,0
1,11057,17.0,1434,North Carolina,1548.0,13139,LYH,1539.0,NaN,AA,CLT,0,3300,9.0,"Lynchburg, VA",NC,19805,1459.0,NaN,1442.0,2020,31057,8.0,0,3300,Virginia,65,8,40.0,NaN,6,NaN,NaN,1539,9.0,9.0,0,NaN,2/8/2020,N,66.0,VA,2,"Charlotte, NC",8.0,0,0
2,11298,28.0,2235,Texas,2356.0,14814,SHV,2354.0,12.0,AA,DFW,0,3300,2.0,"Shreveport, LA",TX,19805,2315.0,NaN,2247.0,2020,30194,12.0,0,3300,Louisiana,63,13,39.0,0.0,4,6.0,0.0,2338,18.0,18.0,0,0.0,2/13/2020,N,69.0,LA,2,"Dallas/Fort Worth, TX",12.0,0,1
3,11298,15.0,2235,Texas,2321.0,14814,SHV,2317.0,NaN,AA,DFW,0,3300,4.0,"Shreveport, LA",TX,19805,2245.0,NaN,2230.0,2020,30194,-5.0,0,3300,Louisiana,63,14,32.0,NaN,5,NaN,NaN,2338,0.0,-17.0,0,NaN,2/14/2020,N,51.0,LA,2,"Dallas/Fort Worth, TX",0.0,0,0
4,11298,26.0,2235,Texas,2348.0,14814,SHV,2343.0,NaN,AA,DFW,0,3300,5.0,"Shreveport, LA",TX,19805,2312.0,NaN,2246.0,2020,30194,11.0,0,3300,Louisiana,63,15,31.0,NaN,6,NaN,NaN,2338,10.0,10.0,0,NaN,2/15/2020,N,62.0,LA,2,"Dallas/Fort Worth, TX",11.0,0,0

Aug20 Performance data looks like below !

,OriginAirportID,TaxiOut,CRSDepTime,OriginStateName,ArrTime,DestAirportID,Dest,WheelsOn,LateAircraftDelay,IATA,Origin,DivAirportLandings,Flight_Number_Marketing_Airline,TaxiIn,DestCityName,OriginState,DOT_ID_Marketing_Airline,WheelsOff,TotalAddGTime,DepTime,Year,OriginCityMarketID,DepDelay,Cancelled,Flight_Number_Operating_Airline,DestStateName,CRSElapsedTime,DayofMonth,AirTime,CarrierDelay,DayOfWeek,NASDelay,WeatherDelay,CRSArrTime,ArrDelayMinutes,ArrDelay,Diverted,SecurityDelay,FlightDate,Duplicate,ActualElapsedTime,DestState,Month,OriginCityName,DepDelayMinutes,Dep_Delay15,Arr_Delay15
0,11292,9.0,1545,Colorado,2057.0,10821,BWI,2054.0,NaN,WN,DEN,0.0,1443,3.0,"Baltimore, MD",CO,19393,1551.0,NaN,1542.0,2020,30325,-3.0,0,1443,Maryland,200.0,24,183.0,NaN,1,NaN,NaN,2105,0.0,-8.0,0,NaN,8/24/2020,NaN,195.0,MD,8,"Denver, CO",0.0,0,0
1,11292,13.0,1955,Colorado,32.0,11042,CLE,27.0,NaN,WN,DEN,0.0,443,5.0,"Cleveland, OH",CO,19393,2003.0,NaN,1950.0,2020,30325,-5.0,0,443,Ohio,165.0,24,144.0,NaN,1,NaN,NaN,40,0.0,-8.0,0,NaN,8/24/2020,NaN,162.0,OH,8,"Denver, CO",0.0,0,0
2,11292,11.0,1335,Colorado,1819.0,11042,CLE,1814.0,NaN,WN,DEN,0.0,1572,5.0,"Cleveland, OH",CO,19393,1343.0,NaN,1332.0,2020,30325,-3.0,0,1572,Ohio,165.0,24,151.0,NaN,1,NaN,NaN,1820,0.0,-1.0,0,NaN,8/24/2020,NaN,167.0,OH,8,"Denver, CO",0.0,0,0
3,11292,10.0,1415,Colorado,1847.0,11066,CMH,1845.0,NaN,WN,DEN,0.0,204,2.0,"Columbus, OH",CO,19393,1418.0,NaN,1408.0,2020,30325,-7.0,0,204,Ohio,160.0,24,147.0,NaN,1,NaN,NaN,1855,0.0,-8.0,0,NaN,8/24/2020,NaN,159.0,OH,8,"Denver, CO",0.0,0,0
4,11292,13.0,1945,Colorado,25.0,11066,CMH,20.0,NaN,WN,DEN,0.0,1642,5.0,"Columbus, OH",CO,19393,1957.0,NaN,1944.0,2020,30325,-1.0,0,1642,Ohio,155.0,24,143.0,NaN,1,NaN,NaN,20,5.0,5.0,0,NaN,8/24/2020,NaN,161.0,OH,8,"Denver, CO",0.0,0,0

Fep21 Performance data looks like below !

,OriginAirportID,TaxiOut,CRSDepTime,OriginStateName,ArrTime,DestAirportID,Dest,WheelsOn,LateAircraftDelay,IATA,Origin,DivAirportLandings,Flight_Number_Marketing_Airline,TaxiIn,DestCityName,OriginState,DOT_ID_Marketing_Airline,WheelsOff,TotalAddGTime,DepTime,Year,OriginCityMarketID,DepDelay,Cancelled,Flight_Number_Operating_Airline,DestStateName,CRSElapsedTime,DayofMonth,AirTime,CarrierDelay,DayOfWeek,NASDelay,WeatherDelay,CRSArrTime,ArrDelayMinutes,ArrDelay,Diverted,SecurityDelay,FlightDate,Duplicate,ActualElapsedTime,DestState,Month,OriginCityName,DepDelayMinutes,Dep_Delay15,Arr_Delay15
0,14893,12.0,1345,California,1614.0,14869,SLC,1610.0,NaN,DL,SMF,0,1432,4.0,"Salt Lake City, UT",CA,19790,1350.0,NaN,1338.0,2021,33192,-7.0,0,1432,Utah,94,21,80.0,NaN,7,NaN,NaN,1619,0.0,-5.0,0,NaN,2/21/2021,NaN,96.0,UT,2,"Sacramento, CA",0.0,0,0
1,10397,10.0,1221,Georgia,1616.0,11042,CLE,1611.0,0.0,DL,ATL,0,1434,5.0,"Cleveland, OH",GA,19790,1458.0,NaN,1448.0,2021,30397,147.0,0,1434,Ohio,100,21,73.0,135.0,7,0.0,0.0,1401,135.0,135.0,0,0.0,2/21/2021,NaN,88.0,OH,2,"Atlanta, GA",147.0,1,1
2,11042,40.0,1516,Ohio,1924.0,10397,ATL,1917.0,105.0,DL,CLE,0,1434,7.0,"Atlanta, GA",OH,19790,1751.0,NaN,1711.0,2021,30647,115.0,0,1434,Georgia,109,21,86.0,10.0,7,24.0,0.0,1705,139.0,139.0,0,0.0,2/21/2021,NaN,133.0,GA,2,"Cleveland, OH",115.0,1,1
3,10397,12.0,1640,Georgia,1733.0,11057,CLT,1727.0,NaN,DL,ATL,0,1435,6.0,"Charlotte, NC",GA,19790,1647.0,NaN,1635.0,2021,30397,-5.0,0,1435,North Carolina,74,21,40.0,NaN,7,NaN,NaN,1754,0.0,-21.0,0,NaN,2/21/2021,NaN,58.0,NC,2,"Atlanta, GA",0.0,0,0
4,11057,28.0,1859,North Carolina,2010.0,10397,ATL,2004.0,NaN,DL,CLT,0,1435,6.0,"Atlanta, GA",NC,19790,1921.0,NaN,1853.0,2021,31057,-6.0,0,1435,Georgia,81,21,43.0,NaN,7,NaN,NaN,2020,0.0,-10.0,0,NaN,2/21/2021,NaN,77.0,GA,2,"Charlotte, NC",0.0,0,0

In [305]:
display(OTPAug19_Clean.shape)
display(OTPFeb20_Clean.shape)
display(OTPAug20_Clean.shape)
display(OTPFeb21_Clean.shape)

(717456, 47)

(623103, 47)

(398470, 47)

(350170, 47)

###### Export these raw but clean data into csv and saved them in the data folder

In [306]:
OTPAug19_Clean.to_csv('../data/Py_exported_data/clean_Aug19.csv')
OTPFeb20_Clean.to_csv('../data/Py_exported_data/clean_Feb20.csv')
OTPAug20_Clean.to_csv('../data/Py_exported_data/clean_Aug20.csv')
OTPFeb21_Clean.to_csv('../data/Py_exported_data/clean_Feb21.csv')

In [307]:
US_Airlines = pd.read_csv('../data/US_airlines.csv')

In [308]:
US_Airlines.head()

   Airline ID                    Name IATA ICAO   Callsign Active
0          10             40-Mile Air   Q5  MLA   MILE-AIR      Y
1          22          Aloha Airlines   AQ  AAH      ALOHA      Y
2          24       American Airlines   AA  AAL   AMERICAN      Y
3          35           Allegiant Air   G4  AAY  ALLEGIANT      Y
4         109  Alaska Central Express   KO  AER    ACE AIR      Y

###### Calculating the number of Departure and Arrival flight delays (more than 15') ,grouped by Airport for each dataset

In [309]:
#By_Origin_airport_Feb20 = OTPFeb20_Clean.groupby('Origin')
Num_depdly_ATapt_Aug19 =OTPAug19_Clean.groupby('Origin')\
                        ['Dep_Delay15'].sum()
Num_arrdly_ATapt_Aug19 =OTPAug19_Clean.groupby('Origin')\
                        ['Arr_Delay15'].sum()
Num_depdly_ATapt_Feb20 =OTPFeb20_Clean.groupby('Origin')\
                        ['Dep_Delay15'].sum()
Num_arrdly_ATapt_Feb20 =OTPFeb20_Clean.groupby('Origin')\
                        ['Arr_Delay15'].sum()
Num_depdly_ATapt_Aug20 =OTPAug20_Clean.groupby('Origin')\
                        ['Dep_Delay15'].sum()
Num_arrdly_ATapt_Aug20 =OTPAug20_Clean.groupby('Origin')\
                        ['Arr_Delay15'].sum()
Num_depdly_ATapt_Feb21 =OTPFeb21_Clean.groupby('Origin')\
                        ['Dep_Delay15'].sum()
Num_arrdly_ATapt_Feb21 =OTPFeb21_Clean.groupby('Origin')\
                        ['Arr_Delay15'].sum()

###### Creating A filtered dataframe based on the departure and arrival delay at airport

In [310]:
Airport_Delay_Aug19 = pd.DataFrame([Num_depdly_ATapt_Aug19 , Num_arrdly_ATapt_Aug19])
Airport_Delay_Feb20 = pd.DataFrame([Num_depdly_ATapt_Feb20 , Num_arrdly_ATapt_Feb20 ])
Airport_Delay_Aug20 = pd.DataFrame([Num_depdly_ATapt_Aug20 , Num_arrdly_ATapt_Aug20])
Airport_Delay_Feb21 = pd.DataFrame([Num_depdly_ATapt_Feb21 , Num_arrdly_ATapt_Feb21 ])

In [311]:
Airport_Delay_Aug19

Origin,ABE,ABI,ABQ,ABR,ABY,ACK,ACT,ACV,ACY,ADK,ADQ,AEX,AGS,AKN,ALB,ALO,ALW,AMA,ANC,APN,ART,ASE,ATL,ATW,...,SYR,TLH,TOL,TPA,TRI,TTN,TUL,TUS,TVC,TWF,TXK,TYR,TYS,UIN,USA,VEL,VLD,VPS,WRG,WYS,XNA,YAK,YKM,YUM
Dep_Delay15,108,36,361,6,19,140,27,45,37,4,7,37,103,0,314,4,18,68,328,11,7,86,6419,77,...,286,97,21,1229,65,59,245,193,136,9,13,17,312,10,47,8,13,178,11,3,270,9,16,10
Arr_Delay15,119,38,378,6,15,162,27,61,44,4,10,44,105,0,329,6,17,74,300,9,8,103,6140,80,...,293,101,22,1141,64,67,264,193,151,9,11,16,357,10,54,8,9,180,12,2,286,12,18,15

###### To ger a better readbility and data set managment , the above data frame should change the orientation , using Transpose function

In [312]:
# Transposing the 'Airport_Delay_Feb20'data frame would change the orientation as below 
Airport_Delay_Aug19 = pd.DataFrame([Num_depdly_ATapt_Aug19 , Num_arrdly_ATapt_Aug19]).T
#pd.set_option('display.max_rows', 365)
Airport_Delay_Aug19.head()

        Dep_Delay15  Arr_Delay15
Origin
ABE             108          119
ABI              36           38
ABQ             361          378
ABR               6            6
ABY              19           15

###### renaming the index , here that was unwantdly become index 0 (Origin) and renaming it

In [313]:
#Airport_Delay_Feb20.rename_axis(none, axis=1).rename_axis('iata_code', axis=0)
#Airport_Delay_Feb20 = Airport_Delay_Feb20.rename_axis([None], axis=0).rename_axis('iata_code').reset_index()
#Airport_Delay_Aug19= Airport_Delay_Aug19.rename_axis([None], axis=0).rename_axis('iata_code').reset_index()

In [314]:
Airport_Delay_Aug19

        Dep_Delay15  Arr_Delay15
Origin
ABE             108          119
ABI              36           38
ABQ             361          378
ABR               6            6
ABY              19           15
...             ...          ...
WYS               3            2
XNA             270          286
YAK               9           12
YKM              16           18
YUM              10           15

[371 rows x 2 columns]

In [315]:
Airport_Delay_Aug19.columns

Index(['Dep_Delay15', 'Arr_Delay15'], dtype='object')

In [316]:
Airport_Delay_Feb20 = pd.DataFrame([Num_depdly_ATapt_Feb20 , Num_arrdly_ATapt_Feb20 ]).T
Airport_Delay_Aug20 = pd.DataFrame([Num_depdly_ATapt_Aug20 , Num_arrdly_ATapt_Aug20 ]).T
Airport_Delay_Feb21 = pd.DataFrame([Num_depdly_ATapt_Feb21 , Num_arrdly_ATapt_Feb21 ]).T

In [317]:
Airport_Delay_Aug20 = Airport_Delay_Aug20.rename_axis([None], axis=0).rename_axis('iata_code').reset_index()
#Airport_Delay_Feb20 = Airport_Delay_Feb20.rename_axis([None], axis=0).rename_axis('iata_code').reset_index()
#Airport_Delay_Feb21 = Airport_Delay_Feb21.rename_axis([None], axis=0).rename_axis('iata_code').reset_index()
#display(Airport_Delay_Feb20)
display(Airport_Delay_Aug20)
#display(Airport_Delay_Feb21)

    iata_code  Dep_Delay15  Arr_Delay15
0         ABE           24           26
1         ABI           10           28
2         ABQ           57           63
3         ABR            6            5
4         ABY            4            3
..        ...          ...          ...
362       XNA           39           61
363       XWA            2            2
364       YAK            7            7
365       YKM            0            0
366       YUM            2            3

[367 rows x 3 columns]

In [318]:
Airport_Delay_Aug19.rename(columns={'Dep_Delay15':'Num_depdly_ATapt_Aug19','Arr_Delay15':'Num_arrdly_ATapt_Aug19'},inplace=True)
Airport_Delay_Feb20.rename(columns={'Dep_Delay15':'Num_depdly_ATapt_Feb20','Arr_Delay15':'Num_arrdly_ATapt_Feb20'},inplace=True)
Airport_Delay_Aug20.rename(columns={'Dep_Delay15':'Num_depdly_ATapt_Aug20','Arr_Delay15':'Num_arrdly_ATapt_Aug20'},inplace=True)
Airport_Delay_Feb21.rename(columns={'Dep_Delay15':'Num_depdly_ATapt_Feb21','Arr_Delay15':'Num_arrdly_ATapt_Feb21'},inplace=True)
Airport_Delay_Aug19['Total_delay']=Airport_Delay_Aug19['Num_depdly_ATapt_Aug19']+Airport_Delay_Aug19['Num_arrdly_ATapt_Aug19']
Airport_Delay_Feb20['Total_delay']=Airport_Delay_Feb20['Num_depdly_ATapt_Feb20']+Airport_Delay_Feb20['Num_arrdly_ATapt_Feb20']
Airport_Delay_Aug20['Total_delay']=Airport_Delay_Aug20['Num_depdly_ATapt_Aug20']+Airport_Delay_Aug20['Num_arrdly_ATapt_Aug20']
Airport_Delay_Feb21['Total_delay']=Airport_Delay_Feb21['Num_depdly_ATapt_Feb21']+Airport_Delay_Feb21['Num_arrdly_ATapt_Feb21']

In [ ]:
Airport_Delay_Aug19
Airport_Delay_Feb20
Airport_Delay_Aug20
Airport_Delay_Feb21

In [156]:
display(Airport_Delay_Feb20)

    iata_code  Num_depdly_ATapt_Feb20  Num_arrdly_ATapt_Feb20  Total_delay
0         ABE                      92                      94          186
1         ABI                      10                      21           31
2         ABQ                     205                     219          424
3         ABR                       5                       6           11
4         ABY                      11                      10           21
..        ...                     ...                     ...          ...
360       XNA                     165                     194          359
361       XWA                      16                      19           35
362       YAK                       4                       7           11
363       YKM                      18                      20           38
364       YUM                      14                      16           30

[365 rows x 4 columns]

###### Sorting the Airports delay in ascending order , to see which Airports had the maximum number of , Arrival , Departure and Total delay per the months specified

In [106]:
# Airport_Delay_Feb20_sort = Airport_Delay_Feb20.sort_values(by='Total_delay', ascending=False)
# Airport_Delay_Aug20_sort = Airport_Delay_Aug20.sort_values(by='Total_delay', ascending=False)
Airport_Delay_Feb21_sort = Airport_Delay_Feb21.sort_values(by='Total_delay', ascending=False)

# print("\n\n"+color.BOLD +'\033[1m' + color.BLUE +'\033[94m'+ 'Feb20 Data sorted down based on Total Airport delay data!'+color.END)
# display(Airport_Delay_Feb20_sort.head(10))
# print("\n\n"+color.BOLD +'\033[1m' + color.BLUE +'\033[94m'+ 'Aug20 Data sorted down based on Total Airport delay data!'+color.END)
# display(Airport_Delay_Aug20_sort.head(10))
# print("\n\n"+color.BOLD +'\033[1m' + color.BLUE +'\033[94m'+ 'Feb21 Data sorted down based on Total Airport delay data!'+color.END)
#display(Airport_Delay_Feb20_sort.head(10))
#display(Airport_Delay_Aug20_sort.head(10))
display(Airport_Delay_Feb21_sort.head(10))
#Airport_Delay.columns = ['Airport_code','Dep_Delay15','Arr_Delay15']

    iata_code  Num_depdly_ATapt_Feb21  Num_arrdly_ATapt_Feb21  Total_delay
94        DEN                    2780                    2960         5740
95        DFW                    2729                    2777         5506
249       ORD                    1936                    3135         5071
22        ATL                    1725                    1824         3549
72        CLT                    1273                    1487         2760
310       SEA                    1212                    1473         2685
103       DTW                     717                    1306         2023
214       MCO                    1063                     923         1986
322       SLC                     828                     946         1774
263       PHX                     873                     849         1722

###### Sample Plotting on the Total number of delays per Airport Feb20

In [107]:
# fig, ax = plt.subplots(figsize=(8,12))
# Airport_Delay_Aug19.sort.head(10).plot.bar(title='Number of delayed flights by Airport',ax=ax)

In [108]:
#Airport_Delay['Airport_code']=Airport_Delay['index'] #= Airport_Delay.rename('index' , 'Airport Code')

###### Calculating the Number of Delays per state

In [319]:
# Before Merging to The states Dataset at the begining , I need to merge the Result sets (Airports delay ) With the original cleansed data fra 
#Aug19_apt_state_delay = pd.merge(Airport_Delay_Aug19 , Airport_state, how ='left' , on='iata_code')
#Feb20_apt_state_delay = pd.merge(Airport_Delay_Feb20 , Airport_state, how ='left' , on='iata_code')
Aug20_apt_state_delay = pd.merge(Airport_Delay_Aug20 , Airport_state, how ='left' , on='iata_code')
#Feb21_apt_state_delay = pd.merge(Airport_Delay_Feb21 , Airport_state, how ='left' , on='iata_code')

In [ ]:
Aug19_apt_state_delay

##### Exporting the output from the Python Query Results as a csv file and save to data folder

In [321]:
#Aug19_apt_state_delay.to_csv('../data/Py_exported_data/OTP_apt_Aug19.csv')
#Feb20_apt_state_delay.to_csv('../data/Py_exported_data/OTP_apt_Feb20.csv')
Aug20_apt_state_delay.to_csv('../data/Py_exported_data/OTP_apt_Aug20.csv')
#Feb21_apt_state_delay.to_csv('../data/Py_exported_data/OTP_apt_Feb21.csv')

###### Calculating the number of flight delays per Airline

#### Merging the Airlines Dataframe with the Original But cleaned Airline performanced for the selected three months

In [52]:
#Airlines data has to be imported and merged with the above clean data set on the Airlines iata code
Airlines_delay_Aug19 = pd.merge(OTPAug19_Clean,US_Airlines,how ='left', on = 'IATA')
Airlines_delay_Feb20 = pd.merge(OTPFeb20_Clean,US_Airlines,how ='left', on = 'IATA')
Airlines_delay_Aug20 = pd.merge(OTPAug20_Clean,US_Airlines,how ='left', on = 'IATA')
Airlines_delay_Feb21 = pd.merge(OTPFeb21_Clean,US_Airlines,how ='left', on = 'IATA')


# display(OTPFeb20_Clean.head())
# print("\n\n"+color.BOLD +'\033[1m' + color.DARKCYAN +'\033[36m'+ 'Aug20 Performance data looks like below !'+color.END)
# display(OTPAug20_Clean.head())
# print("\n\n"+color.BOLD +'\033[1m' + color.DARKCYAN +'\033[36m'+ 'Fep21 Performance data looks like below !'+color.END)
# display(OTPFeb21_Clean.head())

In [53]:
Airlines_delay_Aug19.head()
Airlines_delay_Feb20.head()
Airlines_delay_Aug20.head()
Airlines_delay_Feb21.head()

,OriginAirportID,TaxiOut,CRSDepTime,OriginStateName,ArrTime,DestAirportID,Dest,WheelsOn,LateAircraftDelay,IATA,Origin,DivAirportLandings,Flight_Number_Marketing_Airline,TaxiIn,DestCityName,OriginState,DOT_ID_Marketing_Airline,WheelsOff,TotalAddGTime,DepTime,Year,OriginCityMarketID,DepDelay,Cancelled,...,AirTime,CarrierDelay,DayOfWeek,NASDelay,WeatherDelay,CRSArrTime,ArrDelayMinutes,ArrDelay,Diverted,SecurityDelay,FlightDate,Duplicate,ActualElapsedTime,DestState,Month,OriginCityName,DepDelayMinutes,Dep_Delay15,Arr_Delay15,Airline ID,Name,ICAO,Callsign,Active
0,14893,12.0,1345,California,1614.0,14869,SLC,1610.0,NaN,DL,SMF,0,1432,4.0,"Salt Lake City, UT",CA,19790,1350.0,NaN,1338.0,2021,33192,-7.0,0,...,80.0,NaN,7,NaN,NaN,1619,0.0,-5.0,0,NaN,2/21/2021,NaN,96.0,UT,2,"Sacramento, CA",0.0,0,0,2009.0,Delta Air Lines,DAL,DELTA,Y
1,10397,10.0,1221,Georgia,1616.0,11042,CLE,1611.0,0.0,DL,ATL,0,1434,5.0,"Cleveland, OH",GA,19790,1458.0,NaN,1448.0,2021,30397,147.0,0,...,73.0,135.0,7,0.0,0.0,1401,135.0,135.0,0,0.0,2/21/2021,NaN,88.0,OH,2,"Atlanta, GA",147.0,1,1,2009.0,Delta Air Lines,DAL,DELTA,Y
2,11042,40.0,1516,Ohio,1924.0,10397,ATL,1917.0,105.0,DL,CLE,0,1434,7.0,"Atlanta, GA",OH,19790,1751.0,NaN,1711.0,2021,30647,115.0,0,...,86.0,10.0,7,24.0,0.0,1705,139.0,139.0,0,0.0,2/21/2021,NaN,133.0,GA,2,"Cleveland, OH",115.0,1,1,2009.0,Delta Air Lines,DAL,DELTA,Y
3,10397,12.0,1640,Georgia,1733.0,11057,CLT,1727.0,NaN,DL,ATL,0,1435,6.0,"Charlotte, NC",GA,19790,1647.0,NaN,1635.0,2021,30397,-5.0,0,...,40.0,NaN,7,NaN,NaN,1754,0.0,-21.0,0,NaN,2/21/2021,NaN,58.0,NC,2,"Atlanta, GA",0.0,0,0,2009.0,Delta Air Lines,DAL,DELTA,Y
4,11057,28.0,1859,North Carolina,2010.0,10397,ATL,2004.0,NaN,DL,CLT,0,1435,6.0,"Atlanta, GA",NC,19790,1921.0,NaN,1853.0,2021,31057,-6.0,0,...,43.0,NaN,7,NaN,NaN,2020,0.0,-10.0,0,NaN,2/21/2021,NaN,77.0,GA,2,"Charlotte, NC",0.0,0,0,2009.0,Delta Air Lines,DAL,DELTA,Y

In [54]:
Num_depdly_Airline_Aug19 =Airlines_delay_Aug19.groupby('IATA')\
                        ['Dep_Delay15'].sum()
Num_Arrdly_Airline_Aug19 =Airlines_delay_Aug19.groupby('IATA')\
                        ['Arr_Delay15'].sum()
Num_depdly_Airline_Feb20 =Airlines_delay_Feb20.groupby('IATA')\
                        ['Dep_Delay15'].sum()
Num_Arrdly_Airline_Feb20 =Airlines_delay_Feb20.groupby('IATA')\
                        ['Arr_Delay15'].sum()
Num_depdly_Airline_Aug20 =Airlines_delay_Aug20.groupby('IATA')\
                        ['Dep_Delay15'].sum()
Num_Arrdly_Airline_Aug20 =Airlines_delay_Aug20.groupby('IATA')\
                        ['Arr_Delay15'].sum()
Num_depdly_Airline_Feb21 =Airlines_delay_Feb21.groupby('IATA')\
                        ['Dep_Delay15'].sum()
Num_Arrdly_Airline_Feb21 =Airlines_delay_Feb21.groupby('IATA')\
                        ['Arr_Delay15'].sum()

In [55]:
Airlines_delay_in_Aug19 = pd.DataFrame([Num_depdly_Airline_Aug19 , Num_Arrdly_Airline_Aug19]).T
Airlines_delay_in_Feb20 = pd.DataFrame([Num_depdly_Airline_Feb20 , Num_Arrdly_Airline_Feb20]).T
Airlines_delay_in_Aug20 = pd.DataFrame([Num_depdly_Airline_Aug20 , Num_Arrdly_Airline_Aug20]).T
Airlines_delay_in_Feb21 = pd.DataFrame([Num_depdly_Airline_Feb21 , Num_Arrdly_Airline_Feb21]).T

In [57]:
#Looking into the Number of on_Arrival and At_departure delayed flights for major Airlines 
class color:
   PURPLE = '\033[95m'
   CYAN = '\033[96m'
   DARKCYAN = '\033[36m'
   BOLD = '\033[1m'
   END ='\033[0m'
print("\n\n"+color.BOLD +'\033[1m' + color.DARKCYAN +'\033[36m'+ 'Aug19 Airlines Delay data looks like below !'+color.END)
display(Airlines_delay_in_Aug19.head(10))
print("\n\n"+color.BOLD +'\033[1m' + color.DARKCYAN +'\033[36m'+ 'Feb20 Airlines Delay data looks like below !'+color.END)
display(Airlines_delay_in_Feb20.head(10))
print("\n\n"+color.BOLD +'\033[1m' + color.DARKCYAN +'\033[36m'+ 'Aug20 Airlines Delay data looks like below !'+color.END)
display(Airlines_delay_in_Aug20.head(10))
print("\n\n"+color.BOLD +'\033[1m' + color.DARKCYAN +'\033[36m'+ 'Feb21 Airlines Delay data looks like below !'+color.END)
display(Airlines_delay_in_Feb21.head(10))

Aug19 Airlines Delay data looks like below !

      Dep_Delay15  Arr_Delay15
IATA
AA          38377        40726
AS           6713         7483
B6           8158         7869
DL          27186        27175
F9           3430         3364
G4           1852         1981
HA            633          794
NK           4782         4901
UA          30057        32905
WN          22112        18988

Feb20 Airlines Delay data looks like below !

      Dep_Delay15  Arr_Delay15
IATA
AA          26396        28772
AS           4326         4771
B6           3748         3826
DL          17932        18334
F9           2091         2104
G4           1741         2089
HA            489          669
NK           2897         2904
UA          18664        20662
WN          12004         9613

Aug20 Airlines Delay data looks like below !

      Dep_Delay15  Arr_Delay15
IATA
9E           1170         1302
AA           3482         4289
AS            553          901
B6            607          728
C5            128          228
DL           3228         4031
EM             16           13
EV            125          193
F9            773          812
G4           1071         1119

Feb21 Airlines Delay data looks like below !

      Dep_Delay15  Arr_Delay15
IATA
9E           1151         1422
AA           3953         4404
AS           1183         2035
B6           2226         2922
C5            693          835
DL           3404         4571
F9            886         1085
G4           1208         1492
G7            386          626
HA             99          130

In [58]:
Airlines_delay_in_Aug19 = Airlines_delay_in_Aug19.rename_axis([None], axis=0).rename_axis('IATA').reset_index()
#Airlines_delay_in_Feb20 = Airlines_delay_in_Feb20.rename_axis([None], axis=0).rename_axis('IATA').reset_index()
#Airlines_delay_in_Aug20 = Airlines_delay_in_Aug20.rename_axis([None], axis=0).rename_axis('IATA').reset_index()
#Airlines_delay_in_Feb21 = Airlines_delay_in_Feb21.rename_axis([None], axis=0).rename_axis('IATA').reset_index()

In [59]:
Airlines_delay_in_Aug19['total_delay']= Airlines_delay_in_Aug19['Dep_Delay15']+Airlines_delay_in_Aug19['Arr_Delay15']
Airlines_delay_in_Aug19=Airlines_delay_in_Aug19.rename(columns={'Dep_Delay15':'num_dep_dly','Arr_Delay15':'num_arr_dly'})
Airlines_delay_in_Feb20['total_delay']= Airlines_delay_in_Feb20['Dep_Delay15']+Airlines_delay_in_Feb20['Arr_Delay15']
Airlines_delay_in_Feb20=Airlines_delay_in_Feb20.rename(columns={'Dep_Delay15':'num_dep_dly','Arr_Delay15':'num_arr_dly'})
Airlines_delay_in_Aug20['total_delay']= Airlines_delay_in_Aug20['Dep_Delay15']+Airlines_delay_in_Aug20['Arr_Delay15']
Airlines_delay_in_Aug20=Airlines_delay_in_Aug20.rename(columns={'Dep_Delay15':'num_dep_dly','Arr_Delay15':'num_arr_dly'})
Airlines_delay_in_Feb21['total_delay']= Airlines_delay_in_Feb21['Dep_Delay15']+Airlines_delay_in_Feb21['Arr_Delay15']
Airlines_delay_in_Feb21=Airlines_delay_in_Feb21.rename(columns={'Dep_Delay15':'num_dep_dly','Arr_Delay15':'num_arr_dly'})

In [60]:
class color:
   PURPLE = '\033[95m'
   CYAN = '\033[96m'
   DARKCYAN = '\033[36m'
   BOLD = '\033[1m'
   END ='\033[0m'
print("\n\n"+color.BOLD +'\033[1m' + color.DARKCYAN +'\033[36m'+ 'Aug19 Airlines Delay data looks like below !'+color.END)
display(Airlines_delay_in_Aug19.head(10))
print("\n\n"+color.BOLD +'\033[1m' + color.DARKCYAN +'\033[36m'+ 'Feb20 Airlines Delay data looks like below !'+color.END)
display(Airlines_delay_in_Feb20.head(10))
print("\n\n"+color.BOLD +'\033[1m' + color.DARKCYAN +'\033[36m'+ 'Aug20 Airlines Delay data looks like below !'+color.END)
display(Airlines_delay_in_Aug20.head(10))
print("\n\n"+color.BOLD +'\033[1m' + color.DARKCYAN +'\033[36m'+ 'Feb21 Airlines Delay data looks like below !'+color.END)
display(Airlines_delay_in_Feb21.head(10))

Aug19 Airlines Delay data looks like below !

  IATA  num_dep_dly  num_arr_dly  total_delay
0   AA        38377        40726        79103
1   AS         6713         7483        14196
2   B6         8158         7869        16027
3   DL        27186        27175        54361
4   F9         3430         3364         6794
5   G4         1852         1981         3833
6   HA          633          794         1427
7   NK         4782         4901         9683
8   UA        30057        32905        62962
9   WN        22112        18988        41100

Feb20 Airlines Delay data looks like below !

      num_dep_dly  num_arr_dly  total_delay
IATA
AA          26396        28772        55168
AS           4326         4771         9097
B6           3748         3826         7574
DL          17932        18334        36266
F9           2091         2104         4195
G4           1741         2089         3830
HA            489          669         1158
NK           2897         2904         5801
UA          18664        20662        39326
WN          12004         9613        21617

Aug20 Airlines Delay data looks like below !

      num_dep_dly  num_arr_dly  total_delay
IATA
9E           1170         1302         2472
AA           3482         4289         7771
AS            553          901         1454
B6            607          728         1335
C5            128          228          356
DL           3228         4031         7259
EM             16           13           29
EV            125          193          318
F9            773          812         1585
G4           1071         1119         2190

Feb21 Airlines Delay data looks like below !

      num_dep_dly  num_arr_dly  total_delay
IATA
9E           1151         1422         2573
AA           3953         4404         8357
AS           1183         2035         3218
B6           2226         2922         5148
C5            693          835         1528
DL           3404         4571         7975
F9            886         1085         1971
G4           1208         1492         2700
G7            386          626         1012
HA             99          130          229

###### Exporting the above Airport delays into CSV and saved them in the data folder

In [61]:
Airlines_delay_in_Aug19.to_csv('../data/Py_exported_data/Airlines_dly_Aug19.csv')
# Airlines_delay_in_Feb20.to_csv('../data/Py_exported_data/Airlines_dly_Feb20.csv')
# Airlines_delay_in_Aug20.to_csv('../data/Py_exported_data/Airlines_dly_Aug20.csv')
# Airlines_delay_in_Feb21.to_csv('../data/Py_exported_data/Airlines_dly_Feb21.csv')